body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


:root {
    --mainColour: rgb(0, 36, 104);
    --accent1: rgb(28, 80, 179);
    --accent2: rgb(42, 132, 235);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(202, 202, 202);
    min-width: 1550px;
}


#container {
    display: flex;
    justify-content: center;
}

#InputContainer {
    margin: 50px;
    padding: 25px;
    flex-shrink: 0;
    border: 3px solid var(--mainColour);
    background-color: #FFF;
    border-radius: 8px;
    width: 700px;

}

#InputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preview {
    margin: 50px;
    padding: 40px;
    flex-shrink: 0;
    background-color: #FFF;
    width: 700px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin: 30px 0px 5px;
}

h3 {
    color: var(--mainColour);
    font-size: 40px;
    word-break: break-all;
}

h4 {
    color: var(--accent1);
    font-size: 20px;
    margin: 10px 0px;
}

h5 {
    color: var(--mainColour);
    font-size: 16px;
}

h6 {
    color: var(--accent2);
    font-size: 16px;
}

#header {
    display: grid;
    grid-template-columns: 400px auto;
    align-items: center;
}

#headerName {
    padding: 20px 0px;
}

.headerRow {
    display: grid;
    grid-template-columns: 30px auto;
    word-wrap: break-word;
    align-items: flex-start;
}

.headerIcon {
    stroke: var(--accent1);
}

#headerOcc {
    color: var(--accent1);
    font-size: 22px;
    font-weight: bold;
    word-break: break-all;
}

#headerDesc {
    text-align: center;
    font-style: italic;
    padding: 0px 50px 15px;
}

.itemRow {
    display: grid;
    grid-template-columns: 350px auto;
    word-wrap: break-word;
    align-items: flex-start;
    margin: 20px 0 5px;
}

.itemDates {
    text-align: right;
    font-weight: bold;
    align-self: center;
    color: rgb(134, 134, 134);
    word-wrap: break-word;
}

hr {
    border:none;
    height: 20px;
       width: 90%;
      height: 50px;
      margin-top: 0;
      border-bottom: 1px solid #c2c2c2;
      box-shadow: 0 10px 20px -20px rgb(143, 143, 143);
    margin: -50px auto 10px; 
  }

label, input {
    display: block;
    width: 600px;
}

textarea {
    display: block;
    resize:none;
    width: 600px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
}

button {
    display: block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.3s;
}

button:hover {opacity: 1}

.delButton {
    background-color: rgb(187, 30, 30);
    color: #FFF;
}

.addButton {
    background-color: rgb(33, 160, 76);
    color: #FFF;
    margin-top: 25px;
}

.demoButton {
    background-color: rgb(134, 134, 134);
    color: #FFF;
}

@media print {
    #InputContainer {
        display: none !important;
    }

    #container {
        display: contents;
    }

    #preview {
        box-shadow: none;
        zoom: 150%;
        margin: 0 20px;
        padding: 0;
    }

	@page { 
		margin-top: 0.3in; 
		margin-bottom: 0.3in; 
	} 

}